<div id="header-container">
    <div id="header-titles">
        <h1 id="header-halfprice-title">Halfprice</h1>
        <h1 id="header-halfprice-slogan">Apps & Happs</h1>
    </div>
    <div id="header-login">
        <form action="">
            <input type="text" name="username" placeholder="Who are you?">
            <input type="text" name="password" placeholder="What's the password?">
            <input type="submit" value="login">
        </form>
    </div>
</div>