<div id="header-container">
    <div id="header-titles">
        <h1 id="header-halfprice-title">Halfprice</h1>
        <h3 id="header-halfprice-slogan">Days are long, paychecks are short</h3>
    </div>
    <div id="header-login">
        <form action="/user/login" method="post">
            <input type="text" name="username" placeholder="Who are you?">
            <input type="password" name="password" placeholder="What's the password?">
            <input type="submit" value="login">
        </form>
        <a href="/user/signup"><button>Join Halfprice</button></a>
    </div>
</div>