<div class="logout" id="header-container">
    <div class="logout" id="header-titles">
        <h1 class="logout" id="header-halfprice-title">Halfprice</h1>
        <h3 class="logout" id="header-halfprice-slogan">Apps & Happs</h3>
    </div>
    <div class="logout" id="header-logout">
        <h4 class="logout" id="header-welcome-message">Welcome!</h4>
        <a href="restaurants/new"><button>Create</button></a>
        <a href=""><button>Profile</button></a>
        <a href="user/logout"><button>Logout</button></a>
    </div>
</div>