<div id="header-container">
    <div id="header-titles">
        <h1 id="header-halfprice-title">Halfprice</h1>
        <h3 id="header-halfprice-slogan">Apps & Happs</h3>
    </div>
    <div id="header-logout">
        <h4 id="header-welcome-message">Welcome, Username!</h4>
        <a href=""><button>Create</button></a>
        <a href=""><button>Profile</button></a>
        <a href=""><button>Logout</button></a>
    </div>
</div>