<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %> 
<body>
    <%- include("./partials/headerhome.ejs") %>

    <a href="/restaurants"><button class="home" id="link-button">Check out some happy hour deals!</button></a>

</body>
</html>