<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %> 
<body>
    <%- include("./partials/headerhome.ejs") %>
    <h1>Halfprice</h1>
    <h3>Sign in to view local happy hour deals!</h3>
</body>
</html>