<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %> 
<body>
    <%- include("../partials/header.ejs") %> 
    <div class="index" id="search-container"></div>
        <h1>Search stuff goes here</h1>
    </div>
    <div class="index" id="line-container">
        <div class="index" id="line-info">
            <h1>Restaurant Name</h1>
            <h4>Restaurant Address</h4>
            <h4>HH Time</h4>
        </div>
    </div>
</body>
</html>